* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
    cursor: pointer;
}

h1, h2, h3 {
    text-transform: uppercase;
}