* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    text-transform: uppercase;
}

button {
    text-transform: uppercase;
    cursor: pointer;
}

h1, h2, h3 {
    text-transform: uppercase;
}

hr {
    width: 180px;
    height: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    background-color: #fec96b;
}

h2 {
    font-size: 1.8em;
    font-weight: lighter;
    letter-spacing: 4px;
}

strong {
    color: #feca6f;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.2); 
}
